.first{
    border-color: black;
    margin-left: 35%;
    color: red;
    font-size: 80px;
    color: aliceblue;
    text-shadow: 5px 5px 5px gold;
}
p{
    color:  rgb(0, 106, 255);
    font-style: Sans-Serif;
}
 #first{
    border-image: 5px;
    border-color: black;
    margin-left: 17%;
 }
 body{
    background-color: black;
 }
 #first{
    border-style:outset;
    border-width: 5px;
    border-color:gold;
    border-radius: 2px;
 }
 #img{
    margin-left:-300px;
 }
 #imgto{
    margin-left: 20%;
 }
